/* Font boldness */
.md-typeset h1 {
  font-weight: 800;
}

/* Target all table headers in content */
.md-typeset table th {
  background-color: #346747; /* header bg color */
  color: #ffffff;            /* header text color */
  font-weight: 600;          /* make header text bold */
  padding: 0.5rem 1rem;      /* padding inside header cells */
}

/* Center tables optionally */
table {
  display: table;
  margin: 0 auto;
}

.md-typeset__table {
  width: 100%;
}

.md-typeset__table table:not([class]) {
  display: table
}

blockquote {
    padding: 1px 2px;
    margin: 0 0 20px;
    font-size: 14px;
    border-left: 5px solid #eee;
}

img[src*='#center'] { 
    display: block;
    margin: auto;
}

/*Table Styling*/
.md-typeset table:not([class]) th {
  font-weight: bold;
}

.md-typeset table:not([class]) td {
  border-top: .05rem solid var(--md-default-fg-color--lightest);
  padding: .2375em 1.25em;
  vertical-align: top;
}

.md-typeset code {
  background-color: #7a7a7a82;
  border-radius: 0.25rem;
  -webkit-box-decoration-break: clone;
  box-decoration-break: clone;
  font-size: .90em;
  padding: 0 .2941176471em;
  word-break: break-word;
}