{% extends "main.html" %}
{% block tabs %}
{{ super() }}
<link rel="stylesheet" href="assets/stylesheets/home.css">
<link rel="stylesheet" href="assets/stylesheets/home.js">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,200..1000;1,200..1000&display=swap"
    rel="stylesheet">

<section class="home-page">
    <section class="hero-section">
        <div class="hero-background"></div>
        <div class="hero-overlay"></div>
        <div class="md-grid md-typeset hero-container">
            <div class="hero-content">
                <h1>
                    Managing Skies, Securing Lives
                </h1>
                <p class="hero-description">
                    Welcome to the Saudi Arabian vACC documentation site. View our documentation and policies by
                    clicking the tabs above.
                </p>
                <div class="hero-actions">
                    {% if page.next_page %}
                    <a href="{{ page.next_page.url }}" class="hero-button hero-button--primary">
                        Get started
                        <svg xmlns="http://www.w3.org/2000/svg" width="25" height="15" viewBox="0 0 25 20" fill="none">
                            <path d="M2 10H23.5M23.5 10L15.5 18M23.5 10L15.5 2" stroke="black" stroke-width="2.5"
                                stroke-linecap="round" stroke-linejoin="round"></path>
                        </svg>
                    </a>
                    {% endif %}
                </div>
                <div class="hero-scroll-arrow">
                    <svg width="28" height="28" viewBox="0 0 24 24" fill="none">
                        <path d="M12 5v14M19 12l-7 7-7-7" stroke="white" stroke-width="2" stroke-linecap="round"
                            stroke-linejoin="round" />
                    </svg>
                </div>
            </div>
        </div>
    </section>

</section class="hero-cover">
<div class="cover-1"></div>
<div class="cover-2"></div>
</section>

<div class="md-grid md-typeset">
    <section class="section-block">
        <div class="section-header">
            <h2>Featured Sections</h2>
        </div>
        <div class="card-grid">
            <a class="info-card" href="{{ '/Standard Operating Procedures/Introduction copy' }}">
                <span class="card-tag">
                    SOPs
                </span>
                <h3>
                    Standard Operating Procuderes
                </h3>
                <p>
                    Access standardized operational procedures for aerodrome, terminal, and enroute control services,
                    along with airport-specific documentation and local operating practices.
                </p>
            </a>
            <a class="info-card" href="{{ '/Supplementary Guides/Radiotelephony Manual/Introduction' }}">
                <span class="card-tag">
                    Supplements
                </span>
                <h3>
                    Supplementary Guides
                </h3>
                <p>
                    Go through supplemnetary documentation including radiotelephony manual, client setup guides, and
                    special procedures.
                </p>
            </a>
            <a class="info-card"
                href="{{ '/Training vMATS/(S1) Developing Controller Training vMATS/1. General Knowledge/01- 1.1 Introduction to VATSIM' }}">
                <span class="card-tag">
                    vMATS
                </span>
                <h3>
                    Training Materials
                </h3>
                <p>
                    Discover the fundamentals of air traffic control through this section, featuring our vMATS (Manual
                    of Air Traffic Services).
                </p>
            </a>
        </div>
    </section>

    <section class="footer-image-section">
        <div class="footer-image-container">
            <div class="footer-image-overlay"></div>
            <div class="hero-overlay">
                <div class="footer-container">
                    <div class="footer-content">
                        
                    </div>
                </div>
            </div>
        </div>
    </section>

</div>
</section>

{% endblock %}

{% block content %}{% endblock %}